---
title: Home
---

<header class="c-banner-hero">
  <h1 class="c-banner-hero__title">Dane Wesolko</h1>
  <div class="c-banner-hero__rule"></div>
  <h2 class="c-banner-hero__subtitle">Turning thoughts into things</h2>
  <p class="c-banner-hero__desc">Helping early stage teams prototype new solutions or improve on existing ones</p>
</header>

<section class="c-banner-intro">
  <div class="container u-pad">
    <h2 class="c-banner-intro__title">Fluid and flexible built on 4 core principles</h2>
    <ol class="c-banner-intro__list">
      <li class="c-banner-intro__listitem">
        <div class="c-banner-intro__listitem-wrapper"><strong>Learn</strong> a lot often and apply that to the design.</div>
      </li>
      <li class="c-banner-intro__listitem">
        <div class="c-banner-intro__listitem-wrapper"><strong>Build</strong> focused solutions and prototype for testing.</div>
      </li>
      <li class="c-banner-intro__listitem">
        <div class="c-banner-intro__listitem-wrapper"><strong>Measure</strong> hypotheses and gather feedback.</div>
      </li>
      <li class="c-banner-intro__listitem">
        <div class="c-banner-intro__listitem-wrapper"><strong>Iterate</strong> on concepts and refine design solutions.</div>
      </li>
    </ol>
  </div>
</section>

<div class="container">
  {% include list-casestudy.html %}
</div>

{% include global-cta.html %}
