---
class: iqvia
title: Accessing insight from real-world evidence
description: How can we provide users with access to European real-world evidence and expand a company's product portfolio?
intro: Through the design of a software application we were able to provide IQVIA’s clients with a tool that allows research analysis on European real-world evidence and introduced a new product to IQVIA’s portfolio helping to increase their position as a leader in Healthcare and Life Sciences.
---

{% include header-casestudy.html %}
<div class="u-pad">
  <div class="body-container">
    <h3>The challenge</h3>
    <p>Directly related to the increased demand of healthcare data, multiple proprietary tools have appeared within the market space. These tools connect users to data sources which allows for a variety of uses cases. While this model works incredibly well domestically, it does not satisfy the needs of a global team which requires international sets of data. The strict regulations related to the procurement of European healthcare information makes providing a solution difficult.</p>
    <p>As an industry leader in Healthcare and Life Sciences IQVIA saw an opportunity to develop a new product providing users with the ability to perform research analysis of European real-world evidence. By creating a new tool, IQVIA would be able to give clients a way to gain insight around clinical outcomes, treatment patterns, resource utilization, data source completeness and more. Working together with a London based internal product team I was tasked in designing a solution to tackle their issues.</p>
    <h3>Working through</h3>
    <p>Prior to engagement with IQVIA there had been an initiative to develop a new tool and productize services that are currently being offered. It was determined that the following functions and abilities were needed in the new offering:</p>
    <ul>
      <li>Generate visualizations</li>
      <li>Output research protocols</li>
      <li>Assess data-source quality</li>
      <li>Productize a service</li>
    </ul>

    <p>Contracted as a User Experience Designer to lead the design my requirements were as follows:</p>
    <ul>
      <li>Focus first on Health Economics Outcomes Researchers (HEOR’s)</li>
      <li>Use company initiatives as the constraint</li>
      <li>Rely heavily on research to shape a user centered solution</li>
    </ul>

    <p>On-boarding and stakeholder interviews helped gain insight regarding a concept that was given as the starting point. Internal review sessions assisted in gathering feedback which helped shape overall ideas. A prototype was created using Justinmind, an interactive prototyping tool which then was used for gathering valuable research data. During the usability tests it was discovered that users:</p>
    <ul>
      <li>Did not understand the context of the application</li>
      <li>Had trouble performing and completing tasks</li>
      <li>Wanted a high level overview on the home page</li>
      <li>Needed clarity around core functionalities</li>
      <li>Did not comprehend some of the verbiage</li>
    </ul>

    <p>Brainstorming and digital whiteboarding sessions using LucidCharts, a cloud-based diagramming tool helped in forming new ideas. Those improvements let us work toward the vision and were incorporated into a new more robust and complete prototype. During this process we established a minimum viable product and concurrently began the development of a proof-of-concept hence forth POC.</p>

    <p>A major milestone was reached when a fully functional prototype for HEOR’s was ready. The prototype was showcased at ISPOR 2018, a conference dedicated to health economics outcomes research where the product was launched.</p>

    <p>Work commenced with the next two user roles being Commercial Pharma and Hospitals / Registries. Following a similar process we began by reaching out to subject matter experts regarding a general understanding of users. All three user roles had similar requirements so we were able to rapidly build new prototypes with appropriate adjustments.</p>

    <p>At the completion of the assignment no further work was contracted. Deliverables were provided and the engineering team continued implementation of their POC. Deliverables for this project were:</p>
    <ul>
      <li>Low fidelity wireframes—ironing out concepts, layouts and page structures.</li>
      <li>Interactive prototypes—communicating the vision and behavior of the apps.</li>
    </ul>
  </div>
</div>
<section class="c-casestudy-results u-pad">
  <div class="body-container">
    <h3 class="c-casestudy-results__title" id="results">The results</h3>
    <p>Through our efforts we designed a functional prototype and POC for IQVIA of a software application to fit their needs. This application will give users access to European real-world evidence and allow them to:</p>
    <ul>
      <li>Generate a variety of useful data visualizations</li>
      <li>Output previously performed research protocols</li>
      <li>Assess the quality and completeness of data sources</li>
    </ul>
    <p>As as a result it is expected that IQVIA will be able to productize a service, increase its product portfolio and use the prototypes as a catalyst in reaching a year one sales target of $20 million.</p>
  </div>
</section>
<div class="u-pad">
  <div class="body-container">
    <h3>Reflections</h3>
    <p>Being a proponent of user research if I were to approach this project differently it would be how information was gathered. Significant work went into creating a prototype before ideas were tested with potential clients. Conducting user interviews upfront would have better informed our team, the decisions we made and resulted in a user first design.</p>
  </div>
</div>

<section class="c-more-studies">
  <div class="u-pad">
    <ul class="c-more-studies__list">
      <li class="c-more-studies__link-prev">
        <a href="/case-studies/coramed">Reinventing the comparator sourcing industry</a>
      </li>
      <li class="c-more-studies__link-next">
        <a href="/case-studies/pfizer">Helping patients get the medicine they need</a>
      </li>
    </ul>
  </div>
</section>

{% include global-cta.html %}
