---
class: iqvia
title: Accessing insight from real-world evidence
description: How can we provide users with access to European real-world evidence and expand a company's product portfolio?
intro: Through the design of a software application we were able to provide IQVIA’s clients with a tool that allows bespoke research analysis on European real-world evidence and introduced a new product to IQVIA’s portfolio helping to increase their position as a leader in Healthcare and Life Sciences.
---

{% include header-casestudy.html %}
<div class="u-pad">
  <div class="body-container">
    <h3>The challenge</h3>
    <p>Directly related to the increased demand of healthcare data several proprietary tools have appeared on the market. These tools connect users to data sources allowing for a variety of uses cases. While this model works incredibly well domestically, it doesn’t satisfy the needs of a global team who require international sets of data. Nor do the strict regulations related to the procurement of European healthcare information make providing a solution an easy feat either.</p>
    <p>As an industry leader in Healthcare and Life Sciences IQVIA saw an opportunity to develop a new product providing users with the ability to perform bespoke research analysis of European real-world evidence. By creating a new tool IQVIA would be able to give clients a way to gain insight around clinical outcomes, treatment patterns, resource utilization, data source completeness and more. Working together with a London based internal product team I was tasked in designing a solution.</p>
    <h3>Working through</h3>
    <p>Prior to my engagement with IQVIA there had been an initiative to develop a new tool and productize services that are currently being offered. It was determined that this tool needed to:</p>
    <ul>
      <li>Generate visualizations</li>
      <li>Output research protocols</li>
      <li>Assess data-source quality</li>
      <li>Productize a service</li>
    </ul>

    <p>Contracted as a User Experience Designer to lead the design my engagement:</p>
    <ul>
      <li>Focused first on Health Economics Outcomes Researchers (HEOR’s)</li>
      <li>Used company initiatives as the constraint</li>
      <li>Relied heavily on research to shape a user centered solution</li>
    </ul>

    <p>On-boarding and stakeholder interviews helped me gain insight regarding a concept I was given as the starting point. Internal review sessions assisted in gathering feedback which helped shape overall ideas. A prototype was created using Justinmind, an interactive prototyping tool which then was used as a vessel for gathering valuable research data. During the usability tests it was uncovered that users:</p>
    <ul>
      <li>Did not understand the context of the application</li>
      <li>Had trouble performing and completing tasks</li>
      <li>Wanted a high level overview on the home page</li>
      <li>Needed clarity around core functionalities</li>
      <li>Did not comprehend some of the verbiage</li>
    </ul>

    <p>Brainstorming and digital whiteboarding sessions using LucidCharts, a cloud-based diagramming tool helped in forming new ideas. Those improvements let us re-work the vision and were incorporated into a new prototype. During this process we established a minimum viable product and concurrently began the development of a proof-of-concept.</p>

    <p>A major milestone had been reached when a fully functional prototype for HEOR’s was ready. The prototype was showcased at ISPOR 2018, a conference dedicated to health economics outcomes research where the product was launched.</p>

    <p>Work commenced with the next two user roles—Commercial Pharma and Hospitals / Registries. Following a similar process we began by reaching out to subject matter experts regarding a general understanding of users. All three user roles had similar requirements so we were able to rapidly build new prototypes with the appropriate adjustments.</p>

    <p>Having completed the assignment no further work was contracted, all deliverables were provided and the engineering team continued implementation of their proof-of-concept. Deliverables for this project included:</p>
    <li>Low fidelity wireframes—ironing out concepts, layouts and page structures.
      <li>Interactive prototypes—communicating the vision and behavior of the apps.
      </div>
    </div>
    <section class="c-casestudy-results u-pad">
      <div class="body-container">
        <h3 class="c-casestudy-results__title" id="results">The results</h3>
        <p>Through our efforts we designed a functional prototype and proof-of-concept for IQVIA of a software application. This application will give users access to European real-world evidence and let them:</p>
        <ul>
          <li>Generate a variety of useful data visualizations</li>
          <li>Output previously performed research protocols</li>
          <li>Assess the quality and completeness of data sources</li>
        </ul>
        <p>As as a result it is expected that IQVIA will be able to productize a service, increase its product portfolio and use the prototypes as a catalyst in reaching a year one sales target of $20 million.</p>
      </div>
    </section>
    <div class="u-pad">
      <div class="body-container">
        <h3>Looking back</h3>
        <p>Being a proponent of user research if I was able to change anything about this project it would be how information was gathered. Significant work went into creating a prototype before ideas were tested with potential clients. Conducting user interviews upfront would have better informed our decisions and resulted in a user first design.</p>
      </div>
    </div>

    <section class="c-more-studies">
      <div class="u-pad">
        <ul class="c-more-studies__list">
          <li class="c-more-studies__link-prev">
            <a href="/case-studies/coramed">Reinventing the comparator sourcing industry</a>
          </li>
          <li class="c-more-studies__link-next">
            <a href="/case-studies/pfizer">Helping patients get the medicine they need</a>
          </li>
        </ul>
      </div>
    </section>

    {% include global-cta.html %}
