---
class: pfizer
title: Helping patients get the medicine they need
description: How can we help sales representatives more effectively close cases, help physicians write scripts and provide patients with the medicine they require?
intro: Through the design and development of an iPad application we were able to help Pfizer regional managers and sales representatives spend less time filtering data rich spreadsheets and focusing their time towards getting patients their medication.
image: "../assets/img/banner_image__pfizer.png"
---

{% include header-casestudy.html %}

<div class="u-pad">
  <div class="body-container">
    <h3>The challenge</h3>
    <p>Pfizer and Onco360 partnered to provide patients with mild-to-moderate cases of eczema easy access to an alternate treatment—Eucrisa. Resulting in a program that let patients purchase their medication online. However, this process was cumbersome and inefficient.</p>
    <p>Pfizer's national sales team worked from an information rich spreadsheet that was updated daily. Managers would receive this file and filter per region. They would then share the spreadsheet with representatives who would filter by territory. Proving an inconvenient process, Erik Johnson of Purpose UX and I were tasked to design a solution.</p>
    <h3>Finding opportunity</h3>
    <p>Prior to my engagement Purpose UX and Pfizer established project goals and expectations. I was then on-boarded as a contract User Experience Designer where Erik and I proceeded by conducting interviews with regional managers and sales representatives. While interviewing it was uncovered that:</p>
    <ul>
      <li>Work was predominantly performed in the field on iPad Pro’s.</li>
      <li>There was severe difficulty in identifying action items.</li>
    </ul>
    <h3>Working through</h3>
    <p>Taking the lead, and after deeply analyzing the research findings I looked for themes that would assist in a creation of a more suitable tool. Sales representatives repeated the importance of discerning action items and hang ups in the case flow process. This information served as crucial constraints for the work to follow.</p>
    <p>My design process began with brainstorming and rough sketching testing concepts. Next, user flow diagrams and annotated wireframes shaped the application, page models and content structure. Deliverables were provided via InVision, a cloud based collaboration tool, initiating conversations around improvements. Feedback was gathered and incorporated before the final step of creating high fidelity compositions. All design work was done with Sketch, a toolkit for design.</p>
    <p>After initial work was completed an interactive prototype was developed doubling as a usable artifact that assisted in pushing forward implementation. Once the application moved past proof of concept I was able to provide further assistance in front-end development support.</p>
    <p>Meeting our milestone and completing the assignment no further work was contracted, all deliverables were provided and Onco360 continued with development. Deliverables created were:</p>
    <ul>
      <li>User flow diagrams—outlining the application and tasks that would be performed.</li>
      <li>Low fidelity wireframes—ironing out information architecture, content structure and page diagrams.</li>
      <li>High fidelity design comps—showing what the final product would look like with brand styling applied.</li>
      <li>HTML/CSS/JS prototype—communicating the vision and behavior of the app.</li>
    </ul>
  </div>
</div>
<section class="c-casestudy-results u-pad">
  <div class="body-container">
    <h3 class="c-casestudy-results__title" id="results">The results</h3>
    <p class="c-casestudy-results__text">In working directly with Purpose UX an iPad application was designed for Pfizer regional managers and sales representatives helping them:</p>
    <ul class="c-casestudy-results__list">
      <li>Spend less time filtering spreadsheets</li>
      <li>Easily identify action items</li>
      <li>Eliminate duplicate phone calls</li>
      <li>Reduce overall operating costs</li>
    </ul>
    <p class="c-casestudy-results__text">As a result it is expected that sales representatives can more efficiently perform their tasks and there will be an increase in the amount of successful cases being closed thus providing more patients with the treatment they need.</p>
  </div>
</section>
<div class="u-pad">
  <div class="c-casestudy-reflections body-container">
    <h3 class="c-casestudy-reflections__title">Reflections</h3>
    <p class="c-casestudy-reflections__text">Due to timeline and budget Erik and I were unable to perform further research. Usability tests would have assisted design by validating or disproving initial assumptions. The uncovering of various nuances faced in closing cases proved interesting and further exploration could provide an opportunity to improve upon our solution.</p>
  </div>
</div>

<!-- <aside class="c-case-study-aside">
<h4 class="c-case-study-aside__title">Themes</h4>
<ul class="c-case-study-aside__list">
<li>Product strategy</li>
<li>User research</li>
<li>UX design</li>
<li>Interactive prototyping</li>
<li>Front-end development</li>
</ul>
<h4 class="c-case-study-aside__title">Team</h4>
<ul class="c-case-study-aside__list">
<li>Dane Wesolko</li>
<li>Erik Johnson</li>
</ul>
<h4 class="c-case-study-aside__title">Duration</h4>
<ul class="c-case-study-aside__list">
<li>6 months</li>
</ul>
<h4 class="c-case-study-aside__title">Environment</h4>
<ul class="c-case-study-aside__list">
<li>Distributed globally</li>
</ul>
</aside> -->

<section class="c-more-studies">
  <div class="u-pad">
    <ul class="c-more-studies__list">
      <li class="c-more-studies__link-prev">
        <a href="/case-studies/iqvia">Accessing insight from real-world evidence</a>
      </li>
      <li class="c-more-studies__link-next">
        <a href="/case-studies/coramed">Reinventing the comparator sourcing industry</a>
      </li>
    </ul>
  </div>
</section>

{% include global-cta.html %}
