<section class="c-banner-casestudy">
  <div class="c-banner-casestudy__container">
    <div class="c-banner-casestudy__wrapper">
      {% include breadcrumb.html %}
      <h1 class="c-banner-casestudy__title">{{ page.title }}</h1>
      <div class="c-banner-casestudy__rule"></div>
      <p class="c-banner-casestudy__desc">{{ page.description }}</p>
    </div>
    <img class="c-banner-casestudy__graphic" src="{{ page.image }}"/>
  </div>
</section>
<section class="c-intro-casestudy u-pad">
  <div class="body-container">
    <h2 class="c-intro-casestudy__desc">{{ page.intro }}</h2>
    <a class="c-intro-casestudy__link" href="#results">Jump to the results</a>
  </div>
</section>
