<section class="c-casestudy-banner">
  <div class="c-casestudy-banner__container">
    <div class="c-casestudy-banner__wrapper">
      {% include breadcrumb.html %}
      <h1 class="c-casestudy-banner__title">{{ page.title }}</h1>
      <div class="c-casestudy-banner__rule"></div>
      <p class="c-casestudy-banner__desc">{{ page.description }}</p>
    </div>
    <img class="c-casestudy-banner__graphic" src="{{ page.image }}"/>
  </div>
</section>
<section class="c-casestudy-intro">
  <div class="c-casestudy-intro__wrapper">
    <h2 class="c-casestudy-intro__desc">{{ page.intro }}</h2>
    <a class="c-casestudy-intro__link" href="#results">Jump to the results</a>
  </div>
</section>
