<section class="c-writing">
  {% if page.url == "/" %}
  <h3 class="c-writing__title">Writing</h3>
  {% endif %}
  <ul class="c-writing__list">
    {% for post in site.posts %}
    <li class="c-writing__listitem">
      <h3 class="c-writing__listitem-title">{{ post.title }}</h3>
      <a class="c-writing__listitem-link" href="{{ post.url }}">Read article</a>
    </li>
    {% endfor %}
    {% for item in site.data.writing %}
    <li class="c-writing__listitem">
      <h3 class="c-writing__listitem-title">{{ item.name }}</h3>
      <a class="c-writing__listitem-link" href="{{ item.link }}">Read on Medium</a>
    </li>
    {% endfor %}
  </ul>
</section>
