// Grid
// ----------------------------------------------------------------------------
.container {
  margin: 0 auto;
  max-width: $container;
}
.body-container {
  margin: 0 auto;
  max-width: $body-container;
}
