// Utilities
// -----------------------------------------------------------------------------
// List
.u-list_inline {
  display: inline;
}

// Spacing
.u-pad {
  padding: 3.2rem;
  @include breakpoint($medium) {
    padding: 9.6rem;
  }
}

.u-mar__bot {
  margin-bottom: 3.2rem;
}
