// Utilities
// -----------------------------------------------------------------------------
// List
.u-list_inline {
  display: inline;
}

// Spacing
.u-pad {
  padding: $beta;
  @include breakpoint($medium) {
    padding: $jumbo;
  }
}
.u-pad__sm {
  padding: $beta;
  @include breakpoint($medium) {
    padding: $alpha;
  }
}
.u-mar__bot {
  margin-bottom: $beta;
}
