// Banner - Intro Case Study
// -----------------------------------------------------------------------------
.c-casestudy-intro {
  @extend .u-pad;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $blue-dark;
  color: $white;
  .c-casestudy-intro__wrapper {
    @extend .body-container;
    .c-casestudy-intro__desc {
      font-weight: 400;
      font-size: $delta;
      line-height: $lh-lrg;
    }
    .c-casestudy-intro__link {
      color: $white;
      &:hover {
        color: $action;
      }
    }
  }
}
