// Banner Case Study Results
// -----------------------------------------------------------------------------
.c-casestudy-results {
  @extend .u-pad;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $blue-dark;
  color: $white;
  .c-casestudy-results__wrapper {
    @extend .body-container;
    .c-casestudy-results__title {
      font-weight: 900;
      font-size: $alpha;
      line-height: $lh-sm;
      margin: 0;
      margin-bottom: $beta;
    }
    .c-casestudy-results__text,
    .c-casestudy-results__list {
      margin: 0;
      margin-bottom: $epsilon;
    }
  }
}
