// Banner - Intro
// -----------------------------------------------------------------------------
.c-banner-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue-dark;
  color: $white;
  .c-banner-intro__wrapper {
    @extend .u-pad;
    @extend .container;
    .c-banner-intro__title {
      font-weight: 400;
      font-size: $gamma;
      margin: 0;
      margin-bottom: $epsilon;
      text-align: center;
    }
    .c-banner-intro__list {
      width: 90%;
      counter-reset: c-banner-intro__counter;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      @include breakpoint($medium) {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
      }
      .c-banner-intro__listitem {
        font-size: $delta;
        margin: $beta 0;
        counter-increment: c-banner-intro__counter;
        position: relative;
        &::before {
          content: counter(c-banner-intro__counter);
          color: $white;
          font-weight: 700;
          position: absolute;
          line-height: $beta;
          width: $beta;
          height: $beta;
          background: $blue;
          border-radius: 100%;
          text-align: center;
        }
        @include breakpoint($medium) {
          width: calc((100%/2) - 2rem);
          padding: 0 $delta;
        }
        .c-banner-intro__listitem-wrapper {
          margin-left: $alpha;
          strong {
            font-weight: 900;
            letter-spacing: .5px;
          }
        }
      }
    }
  }
}
