// Banner - Case Study
// -----------------------------------------------------------------------------
.c-casestudy-banner {
  width: 100%;
  min-height: 504px;
  background-color: $blue;
  color: $white;
  .c-casestudy-banner__container {
    @extend .large-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $gamma $beta;
    @include breakpoint($medium) {
      flex-direction: row;
      justify-content: space-between;
    }
    .c-casestudy-banner__wrapper {
      max-width: $body-container;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .c-casestudy-banner__title,
      .c-casestudy-banner__desc {
        width: 100%;
        margin: 0;
      }
      .c-casestudy-banner__rule {
        width: $alpha;
        height: 2px;
        background-color: $white;
        margin-bottom: $epsilon;
      }
      .c-casestudy-banner__title {
        font-weight: 900;
        font-size: $alpha;
        line-height: 1.25;
        margin-bottom: $beta;
      }
      .c-casestudy-banner__desc {
        font-weight: 400;
        font-size: $gamma;
        margin-bottom: $epsilon;
        line-height: 1.35;
      }
    }
    .c-casestudy-banner__graphic {
      max-width: 100%;
      height: auto;
      max-height: 600px;
    }
  }

}
