// Banner - Page
// -----------------------------------------------------------------------------
.c-banner-page {
  @extend .u-pad__sm;
  width: 100%;
  background-color: $gray-light;
  background-image: url("../img/banner_background__page.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  .c-banner-page__wrapper {
    @extend .container;
    .c-banner-page__title {
      font-weight: 900;
      font-size: $alpha;
      line-height: 1.25;
      margin: 0;
    }
  }
}
