// Banner - Hero
// -----------------------------------------------------------------------------
.c-banner-hero {
  width: 100%;
  max-height: 600px;
  padding: $beta;
  @include breakpoint($medium) {
    padding: $jumbo;
  }
  background-color: $blue;
  background-image: url("../img/banner_background__home.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  color: $white;
  .c-banner-hero__wrapper {
    @extend .large-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $beta;
    .c-banner-hero__title,
    .c-banner-hero__subtitle,
    .c-banner-hero__desc {
      width: 100%;
      margin: 0;
    }
    .c-banner-hero__subtitle,
    .c-banner-hero__desc{
      line-height: $lh-md;
    }
    .c-banner-hero__rule {
      width: $alpha;
      height: 2px;
      background-color: $white;
      margin-bottom: $epsilon;
    }
    .c-banner-hero__title {
      font-weight: 900;
      font-size: $alpha;
      line-height: $lh-sm;
      margin-bottom: $beta;
    }
    .c-banner-hero__subtitle {
      font-weight: 400;
      font-size: $gamma;
      margin-bottom: $epsilon;
    }
    .c-banner-hero__desc {
      font-size: $delta;
      max-width: $body-container;
    }
  }
}
