// Breadcrumb
// -----------------------------------------------------------------------------
.c-breadcrumb {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  .c-breadcrumb__current,
  .c-breadcrumb__link {
    color: $white;
    padding: 0 .5rem;
    border-bottom: none;
  }
  .c-breadcrumb__link:hover {
      color: $action;
    }
}
