// Breadcrumb
// -----------------------------------------------------------------------------
.c-breadcrumb {
  font-size: $eta;
  margin-bottom: $kappa;
  .c-breadcrumb__current,
  .c-breadcrumb__link {
    color: $white;
    padding: 0 $iota;
    border-bottom: none;
  }
  .c-breadcrumb__link:hover {
      color: $action;
    }
}
