// Global Header
// -----------------------------------------------------------------------------
.c-global-cta {
  @extend .u-pad;
  width: 100%;
  background-color: $yellow;
  background-image: url("../img/banner_background__cta.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  .c-global-cta__wrapper {
    max-width: $body-container;
    margin: 0 auto;
    .c-global-cta__rule {
      width: $alpha;
      height: 2px;
      background-color: $gray;
      margin-bottom: $epsilon;
    }
    .c-global-cta__title,
    .c-global-cta__desc {
      line-height: 1.35;
    }
    .c-global-cta__title {
      font-weight: 400;
      font-size: $gamma;
      margin-bottom: $epsilon;
    }
    .c-global-cta__desc {
      font-size: $delta;
      margin-bottom: $beta;
    }
    .c-global-cta__button {
      @extend .c-button;
    }
  }
}
