// Case Study List
// -----------------------------------------------------------------------------
.c-casestudy-list {
  width: 100%;
  @extend .u-pad;
  @extend .container;
  .c-casestudy-list__title {
    font-weight: 400;
    font-size: $delta;
    line-height: 1.35;
    margin: 0;
    margin-bottom: $gamma;
  }
  .c-casestudy-list__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($medium) {
      flex-wrap: nowrap;
    }
    justify-content: space-between;
    align-items: stretch;
    .c-casestudy-list__listitem {
      border-radius: .4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all .2s ease-in-out;
      margin-bottom: $alpha-minor;
      box-shadow: $dropshadow;
      &:hover {
        transform: scale(1.0375);
        cursor: pointer;
      }
      @include breakpoint($medium) {
        width: calc(95% / 3);
        margin-bottom: 0;
      }
      .c-casestudy-list__listitem-graphic {
        width: 100%;
      }
      .c-casestudy-list__listitem-wrapper {
        padding: $alpha-minor $gamma;
        .c-casestudy-list__listitem-title {
          font-weight: 700;
          font-size: $delta;
          line-height: 1.35;
          margin: 0;
          margin-bottom: $gamma;
        }
        .c-casestudy-list__listitem-desc {
          margin: 0;
        }
      }
      .c-casestudy-list__listitem-link {
        margin-top: auto;
        padding: 0 $gamma $alpha-minor $gamma;
      }
    }
  }
}
