// Writing
// -----------------------------------------------------------------------------
.c-writing {
  width: 100%;
  .c-writing__title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.35;
    margin: 0;
    margin-bottom: 2.4rem;
  }
  .c-writing__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    .c-writing__listitem {
      width: 100%;
      @include breakpoint($medium) {
        width: calc(95% / 3);
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: stretch;
      margin-bottom: 3.6rem;
      padding: 3.6rem 2.4rem;
      border: thin solid $gray-light;
      border-radius: .4rem;
      box-shadow: $dropshadow;
      .c-writing__listitem-title {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.35;
        margin: 0;
        margin-bottom: 2.4rem;
      }
      .c-writing__listitem-link {
        margin-top: auto;
      }
    }
  }
}
