// More Studies
// -----------------------------------------------------------------------------
.c-more-studies {
  width: 100%;
  border-top: thick solid $gray-light;
  .c-more-studies__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint($medium) {
      justify-content: space-between;
    }
    align-items: stretch;
    .c-more-studies__link-prev,
    .c-more-studies__link-next {
      margin-bottom: 2.4rem;
      @include breakpoint($medium) {
        margin-bottom: 0;
      }
    }
    .c-more-studies__link-prev a,
    .c-more-studies__link-next a {
      padding: 0;
    }
    .c-more-studies__link-prev a::before {
      content: '\2190';
      padding-right: 1rem;
    }
    .c-more-studies__link-next a::after {
      content: '\2192';
      padding-left: 1rem;
    }
  }
}
