// Base
// -----------------------------------------------------------------------------
// html is set to 62.5% so that all the REM measurements
// are based on 10px sizing. 1.5rem = 15px

html,
body {
  height: 100%;
  position: relative;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
body {
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: $font-family;
  color: $font-color;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// Typography
// -----------------------------------------------------------------------------
h3,
p,
ul {
  margin: 0;
  margin-bottom: $epsilon;
}

// Links
// -----------------------------------------------------------------------------
a {
  color: $font-color;
  text-decoration: none;
  padding: $iota $theta;
  border-bottom: thick solid $yellow;
  cursor: pointer;
  &:focus,
  &:hover,
  &:active {
    color: $action;
    border-bottom: thick solid $action;
  }
  &:focus {
    outline: 2px solid orange;
    outline-offset: 2px;
  }
}
