// Buttons
// -----------------------------------------------------------------------------
button,
.c-button {
  cursor: pointer;
  width: auto;
  height: $alpha;
  background-color: $action;
  border: none;
  border-radius: $kappa;
  color: white;
  display: inline-block;
  text-align: center;
  padding: $eta $beta;
  transition: all .2s ease-in-out;
  box-shadow: $dropshadow;
  &:hover {
    background-color: $action-hover;
    transform: scale(1.0375);
  }
}
