// Forms
// -----------------------------------------------------------------------------
label,
input,
textarea {
  width: 100%;
  font-family: inherit;
}

input,
textarea {
  margin-top: .3rem;
  margin-bottom: 2.4rem;
  border: thin $gray-medium solid;
  padding: 1.2rem;
  &:focus,
  &:active {
    outline: 2px solid orange;
    outline-offset: 2px;
  }
}

label {
  font-size: 1.4rem;
}

input {
  height: 4.2rem;
}

textarea {
  height: 12rem;
}

input[type=button],
input[type=submit],
input[type=reset] {
  @extend .c-button;
  width: auto;
  margin: 0;
}

::placeholder {
  color: $gray-medium;
}
