// Forms
// -----------------------------------------------------------------------------
label,
input,
textarea {
  width: 100%;
  font-family: inherit;
}
input,
textarea {
  margin-top: $kappa;
  margin-bottom: $gamma;
  border: thin $gray-medium solid;
  padding: $eta;
  &:focus,
  &:active {
    outline: $border-orange;
    outline-offset: 2px;
  }
}
label {
  font-size: $zeta;
}
input {
  height: $alpha;
}
textarea {
  height: $jumbo * 2;
}
input[type=submit] {
  @extend .c-button;
  margin: 0;
}

::placeholder {
  color: $gray-medium;
}
